/* .backImg {
  background-image: url('../img/circle.png');
  background-position-x: 105%;
  background-position-y: 150%;
  background-repeat: no-repeat
  
} */

.jumbotron {
  background-color: transparent !important; 
}

.avatar{
  width: 80%;

}

.backImg {
  background-image: url('../img/circle.png'), url('../img/circle.png'), url('../img/circle.png');
  background-size: 10%, 5%, 20%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 10% -10%, 55% 30%, 90% 150%
  }
  
  .card:hover{
    -webkit-box-shadow: -1px 9px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 30px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 30px rgba(0,0,0,0.75);
  }