body {
  background-image: url('../img/circle.png');
  background-position-x: 105%;
  background-position-y: 150%;
  background-repeat: no-repeat
  
}

.jumbotron {
  background-color: transparent !important; 
}